.titleArt {
  text-align: center;
  color: var(--bg-nav);
}
.container {
    display: flex;
    flex-wrap: no-wrap;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 1rem;
    padding: 15px;
    padding-left: 6rem;
    align-items: center;
    justify-items: center;
  }
  @media only screen and (max-width: 600px) {
    .container {
      padding-left:1rem;
    }
  }
  .artzoom {
    position: relative;
  }
  .artzoom img {
    flex: 0 0 auto;
    width: auto;
    height: 75vh;
    max-height: 100%;
    margin-right: 10px;
    top: 0;
    transition: all 100ms ease-in-out;
    filter: grayscale(1);
    border-radius: 10px;
  }
  .artzoom input[type = checkbox] {
    display:none;
  }
  .artzoom input[type = checkbox]:checked ~ img + .captions{
    opacity: 0.7;
    max-height: 200rem;
    display:block;
  }
  
  .artzoom img:hover {
    transform: scale(1.02);
    filter: grayscale(0);
    border-radius: 2em;
  }

  .artzoom img:hover + .captions{
    transform: scale(1.02);
  }


  .arts {
    font-size: 1rem;
    display: flex;
  }
  
  .captions {
    opacity: 0;
    z-index: 1;
    position: absolute;
    bottom: 0;
    max-height: 0rem;
    padding: 1rem;
    border:0.1rem;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    overflow: hidden;
    background: var(--bg);
    transition: all 100ms ease-in-out;
  }

  .user {
    color: var(--bg-nav);
  }

  .text {
    color: var(--bg-nav-shadow);
  }
  
  .date {
    color: var(--gray3)
  }

  .artlogo {
    /* fill: var(--bg-nav); */
    height: 1em;
    vertical-align: top;
    margin-top: 4px;
    fill: url(#start);
    transition: transform 0.1s ease-in-out;
  }

  .titleArt:hover .artlogo {
    fill: url(#end);
    transform: scale(1.2);
  }

  .fade-in-section {
    opacity: 0;
    transform: translatey(20vh);
    visibility: hidden;
    transition: opacity 1s ease-out, transform 1s ease-out;
    will-change: opacity, visibility;
  }
  .fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }