@media only screen and (min-width: 600px) {
    .gap {
    padding-left: 6rem;
    }
    .me-link-big {
    position: relative;
    color: var(--bg-nav);
    font-size: 6vw;
    font-weight: bold;
    white-space: nowrap;
    }
    .catlogo {
        width: 155vh;
        fill: var(--bg-nav);
        z-index: -1;
    }
    .catBox {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-25%, -30%);
        padding: 10px;
    }
    .top-block {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-90%, -50%);
        font-size: 1.5vw;
        text-shadow: -1.5px 1.5px 0 var(--bg),
                      1.5px 1.5px 0 var(--bg),
                      1.5px -1.5px 0 var(--bg),
                      -1.5px -1.5px 0 var(--bg),
                      1.5px -1.5px 0 var(--bg);
    }
}

@media only screen and (max-width: 600px) {
    .top-block {
        position: absolute;
        font-size: 4vw;
        text-align: center;
        top: 10%;
        text-shadow: -1.5px 1.5px 0 var(--bg),
                      1.5px 1.5px 0 var(--bg),
                      1.5px -1.5px 0 var(--bg),
                      -1.5px -1.5px 0 var(--bg),
                      1.5px -1.5px 0 var(--bg);
    }
    .me-link-big {
        display: inline-block;
        position: relative;
        color: var(--bg-nav);
        font-size: 16vw;
        font-weight: bold;
        white-space: nowrap;
    }
    .catlogo {
        width: 80vh;
        fill: var(--bg-nav);
        z-index: -1;
    }
    .catBox {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -20%);
        padding: 10px;
    }
    .sponge {
        height: 5rem;
    }

}

.morning{
    background: linear-gradient(40deg, #f8ceaf, #cbbffd 70%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: none;
}
.afternoon{
    background: linear-gradient(40deg, #fca344,  #55acfa 70%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: none;
}
.evening{
    background: linear-gradient(40deg,  #fbb676, #d86a91 70%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: none;
}

.me-link {
    display: inline-block;
    position: relative;
    line-height: 3rem;
    color: var(--bg-nav);
    text-shadow: -1px 1px 0 var(--text),
				  1px 1px 0 var(--text),
				  1px -1px 0 var(--text),
				  -1px -1px 0 var(--text);
}
.me-link:hover {
    color: var(--text);
    text-shadow: none;
}
.me-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.25em;
    bottom: -0.25rem;
    left: 0;
    background-color: var(--bg-nav);
    transform-origin: bottom right;
    transition: transform 250ms ease-out;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: var(--bg);
    
}
.me-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.me-link-big:before {
    content: "JOHN ZHOU";
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    color: var(--text);
    overflow: hidden;
    transition: all 250ms linear;
}
.me-link-big:hover:before {
    height: 100%;
}
.me-link-big:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleY(0);
    height: 0.1em;
    bottom: 0;
    left: 0;
    background-color: var(--bg-nav);
    transform-origin: top;
    transition: transform 250ms ease-out;
    line-height: 1em;
    border-style: solid;
    border-width: 2px;
    border-color: var(--bg);
    border-radius: 10px;
    
    
}
.me-link-big:hover:after {
    transform: scaleY(1);
    transform-origin: bottom;
}
body {
    font-weight: bold;
}
.idle {
    animation-name: idle;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes idle {
    0% { transform: scale(1, 1); }
    50% { transform: scale(1.05, 1.05); }
    100% { transform: scale(1, 1); }
}