.gap {
    margin-left: 5rem;
    padding: 1rem;
}
.header {
    height: 100vh;
    padding: 0 10%;
}
.top-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2vh;
}
.me-link {
    display: inline-block;
    position: relative;
    line-height: 2rem;
    color: var(--bg-nav);
}
.me-link:hover {
    color: var(--text);
}
.me-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.25em;
    bottom: 0;
    left: 0;
    background-color: var(--bg-nav);
    transform-origin: bottom right;
    transition: transform 250ms ease-out;
}
.me-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.me-link-big {
    display: inline-block;
    position: relative;
    color: var(--bg-nav);
    font-size: 5em;
    font-weight: bold;
    white-space: nowrap;
}
.me-link-big:before {
    content: "JOHN ZHOU";
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    color: var(--text);
    overflow: hidden;
    transition: all 250ms linear;
}
.me-link-big:hover:before {
    height: 100%;
}
.me-link-big:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleY(0);
    height: 0.1em;
    bottom: 0;
    left: 0;
    background-color: var(--bg-nav);
    transform-origin: top;
    transition: transform 250ms ease-out;
    line-height: 1em;
}
.me-link-big:hover:after {
    transform: scaleY(1);
    transform-origin: bottom;
}
body {
    font-weight: bold;
}

.mid-block {
    position: relative;
}