.doc {
    display: flex;
    flex-wrap: no-wrap;
    overflow-x: auto;
    overflow-y: hidden;
    align-items: center;
    justify-items: center;
    gap:3rem;
}

.doc h1{
    font-size: 20vw;
    flex: 0 0 auto;
    width: auto;
    animation: point 3s ease-in-out infinite;  
}
@keyframes point {
    0%, 100%{
        transform: translate(0, 0);
    }
    25% {
        transform: translate(5%, 0);
    }
    85% {
        transform: translate(0, 0);
    }
}
@media screen and (max-width: 600px){
    .doc{
        padding-bottom: 6rem;
        padding-top: 4vh;
    }
    .doc div {
        font-size: 2vh;
    }
    .doc h2{
        color: var(--text);
        writing-mode: vertical-rl;
        transform: rotate(-180deg);
        font-size: 7vh;
        flex: 0 0 auto;
        width: auto;
        margin-right: -2rem;
    }

}
@media screen and (min-width: 600px){
    .parent {
        max-width: 0;
        max-height: 0;
    }
    .livery {
        z-index: -1;
        border: 100vh solid var(--bg-nav);
        transform: skewX(50deg) scaleY(cos(45deg)) translate(30vw,-150vh);
    }
    .doc {
        height: 100vh;
    }
    .doc h1{
        padding-left: 30%;
        padding-right: 50%;
        font-size: 10vw;
        flex: 0 0 auto;
        width: auto;
        text-shadow: -2px 2px 0 var(--bg),
                      2px 2px 0 var(--bg),
                      2px -2px 0 var(--bg),
                      -2px -2px 0 var(--bg),
                      2px -2px 0 var(--bg);
    }
    .doc h2{
        color: var(--text);
        writing-mode: vertical-rl;
        transform: rotate(-180deg);
        font-size: 8.5vh;
        flex: 0 0 auto;
        width: auto;
        margin-right: -2rem;
    }
}


.doc div {
    flex: 0 0 auto;
    width: auto;
    color: var(--bg-nav);
    line-height: 1.2em;
}

.doc a {
    color: var(--text);
}

.doc a:hover {
    color: var(--text-op);
}

.title {
    font-size: 1.5rem;
    color: var(--text);
}

.sub {
    color: var(--text);
    font-size: 1.2rem;
}

.drivelogo {
    width: 10vh;
    margin: 5rem;
    transition: all 0.1s ease-in-out;
}

.drivelogo:hover {
    transform: scale(2) rotate(360deg);
}